:root {
    /* Цвета текстов */
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #b3b3b3;
    --color-text-hint: #929292;
    --color-text-disabled: #6c6c6c;
    --color-overlay-text-hovered: rgba(224, 224, 224, 0.04);
    --color-overlay-text-selected: rgba(224, 224, 224, 0.08);
    --color-overlay-text-pressed: rgba(224, 224, 224, 0.12);
    /* Цвет ссылок */
    --color-link: #bb86fc;
    --color-link-hover: #03dac5;
    --color-link-active: #029e8e;
    /* Основной цвет */
    --color-primary: #bb86fc;
    --color-text-on-primary: #181121;
    --color-primary-reduced: #8c66ba;
    --color-primary-hovered: #c090fc;
    --color-primary-pressed: #b481f2;
    --color-overlay-primary-hovered: rgba(187, 134, 252, 0.08);
    --color-overlay-primary-selected: rgba(187, 134, 252, 0.12);
    --color-overlay-primary-pressed: rgba(187, 134, 252, 0.16);
    /* Акцентирующий цвет */
    --color-accent: #03dac5;
    --color-text-on-accent: #001c1a;
    --color-accent-reduced: #07a293;
    --color-accent-fade: #0b7268;
    --color-overlay-accent-hovered: rgba(3, 218, 197, 0.08);
    --color-overlay-accent-selected: rgba(3, 218, 197, 0.12);
    --color-overlay-accent-pressed: rgba(3, 218, 197, 0.16);
    /* Фоновые цвета */
    --color-background: #121212;
    --color-background-translucent: rgba(18, 18, 18, 0.9);
    --color-background-dialog: #1f1f1f;
    --color-surface: #1c1c1c;
    --color-surface-hover: #2e2e2e;
    --color-surface-active: #373737;
    --color-border: #2e2e2e;
    /* Цвета верхнего меню */
    --color-menu-background: #1f1f1f;
    --color-menu-background-fade: rgba(31, 31, 31, 0.48);
    --color-menu-text-primary: #e2e2e2;
    --color-menu-text-disabled: #747474;
    --color-menu-icon: #c9c9c9;
    --color-menu-search: #3a3a3a;
    --color-menu-search-fade: rgba(226, 226, 226, 0.12);
    --color-menu-background-hover: #313131;
    --color-menu-background-active: #3a3a3a;
    /* Цвета кнопок списков */
    --color-planned: #32515e;
    --color-onhold: #3f3f3f;
    --color-watching: #2a414b;
    --color-rewatching: #2a414b;
    --color-completed: #3d462c;
    --color-dropped: #472221;
  }